// NotoSansKR
@font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    src: url("../fonts/NotoSansKR-Light-Hestia.woff") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    src: url("../fonts/NotoSansKR-Regular-Hestia.woff") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 600;
    src: url("../fonts/NotoSansKR-Medium-Hestia.woff") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 700;
    src: url("../fonts/NotoSansKR-Bold-Hestia.woff") format("woff2");
}

// Manrope
@font-face {
    font-family: "Manrope";
    font-weight: 400;
    src: url("../fonts/Manrope-Regular.woff") format("woff2");
}
@font-face {
    font-family: "Manrope";
    font-weight: 500;
    src: url("../fonts/Manrope-Medium.woff") format("woff2");
}
@font-face {
    font-family: "Manrope";
    font-weight: 600;
    src: url("../fonts/Manrope-Bold.woff") format("woff2");
}
@font-face {
    font-family: "Manrope";
    font-weight: 700;
    src: url("../fonts/Manrope-ExtraBold.woff") format("woff2");
}