@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

html, body {
  font-family: "NotoSansKR", 맑은고딕, "Malgun Gothic", dotum, gulim, sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 8px;
  letter-spacing: -0.05em;
}

@font-face {
  font-family: "NotoSansKR";
  font-weight: 400;
  src: url("../fonts/NotoSansKR-Light-Hestia.woff") format("woff2");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 500;
  src: url("../fonts/NotoSansKR-Regular-Hestia.woff") format("woff2");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 600;
  src: url("../fonts/NotoSansKR-Medium-Hestia.woff") format("woff2");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 700;
  src: url("../fonts/NotoSansKR-Bold-Hestia.woff") format("woff2");
}
@font-face {
  font-family: "Manrope";
  font-weight: 400;
  src: url("../fonts/Manrope-Regular.woff") format("woff2");
}
@font-face {
  font-family: "Manrope";
  font-weight: 500;
  src: url("../fonts/Manrope-Medium.woff") format("woff2");
}
@font-face {
  font-family: "Manrope";
  font-weight: 600;
  src: url("../fonts/Manrope-Bold.woff") format("woff2");
}
@font-face {
  font-family: "Manrope";
  font-weight: 700;
  src: url("../fonts/Manrope-ExtraBold.woff") format("woff2");
}
.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.content-line {
  margin: 7.5rem 0;
  height: 0.625rem;
  background: #f5f5f5;
}

.popup-view {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #fff;
  z-index: 999;
  overflow-y: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.popup-view .popup-area .popup-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 2.5rem;
  padding-top: 4.6875rem;
  height: 9.75rem;
  border-bottom: 0.125rem solid #e7e7e7;
}
.popup-view .popup-area .popup-header .title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 1;
  font-size: 2.25rem;
  font-weight: 700;
  color: #333333;
  letter-spacing: -0.125rem;
}
.popup-view .popup-area .popup-header .popup-close {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1.6875rem;
  height: 1.6875rem;
  background-image: url("../images/layout/popup-close.png");
}
.popup-view .popup-area .popup-content.type_notice .content-title {
  padding: 1.7rem 2.5rem 3.75rem;
  border-bottom: 0.625rem solid #f5f5f5;
}
.popup-view .popup-area .popup-content.type_notice .content-title .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popup-view .popup-area .popup-content.type_notice .content-title .text .text-wrap {
  font-family: "Manrope";
  font-weight: 400;
  line-height: 1;
  font-size: 1.25rem;
  color: #818286;
}
.popup-view .popup-area .popup-content.type_notice .content-title .text .text-wrap * + * {
  margin-left: 0.625rem;
}
.popup-view .popup-area .popup-content.type_notice .content-title .text .text-wrap b {
  font-weight: 700;
  color: #333;
}
.popup-view .popup-area .popup-content.type_notice .content-title strong {
  display: block;
  margin-top: 0.75rem;
  line-height: 1.4em;
  font-size: 1.5rem;
  font-weight: 500;
  color: #333333;
  letter-spacing: -0.125rem;
}
.popup-view .popup-area .popup-content.type_notice .content-inner {
  padding: 3.75rem 2.5rem 10rem;
}
.popup-view .popup-area .popup-content.type_notice .content-inner .deco {
  color: hsl(240, 75%, 60%);
}
.popup-view .popup-area .popup-content.type_notice .content-inner p {
  line-height: 1.6em;
  font-size: 1.375rem;
  color: #333333;
}
.popup-view .popup-area .popup-content.type_notice .content-inner img {
  margin-top: 2rem;
}
.popup-view .popup-area .popup-content.type_review .review-list > li {
  display: none;
}
.popup-view .popup-area .popup-content.type_review .review-list .swiper {
  position: relative;
}
.popup-view .popup-area .popup-content.type_review .review-list .swiper img {
  width: 100%;
}
.popup-view .popup-area .popup-content.type_review .review-list .swiper .pagination {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2.5rem;
  width: auto;
  left: 1rem;
  right: 1rem;
  bottom: 3rem;
  border-radius: 0.1875rem;
  z-index: 1;
}
.popup-view .popup-area .popup-content.type_review .review-list .swiper .pagination .swiper-pagination-bullet {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 0.375rem;
  height: 3px;
  margin: 0;
  border-radius: 0;
  background: #e7e7e7;
  opacity: 1;
}
.popup-view .popup-area .popup-content.type_review .review-list .swiper .pagination .swiper-pagination-bullet-active {
  background: #31291c;
}
.popup-view .popup-area .popup-content.type_review .review-list .text-area {
  padding: 2.5rem 2.5rem 3.75rem;
  color: #333333;
}
.popup-view .popup-area .popup-content.type_review .review-list .text-area .content-title .title {
  font-size: 1.75rem;
  font-weight: 700;
  padding-bottom: 1.25rem;
}
.popup-view .popup-area .popup-content.type_review .review-list .text-area .content-title .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.25rem;
  line-height: 3.125rem;
  font-size: 1.625rem;
  font-family: "Manrope";
  font-weight: 500;
}
.popup-view .popup-area .popup-content.type_review .review-list .text-area .content-title .info span:first-child::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 10px;
  background: #b0b0b0;
  margin: 0 1.25rem;
}
.popup-view .popup-area .popup-content.type_review .review-list .text-area .content-title .info .star::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1.75rem;
  height: 1.625rem;
  margin: -0.25rem 0.375rem 0 0;
  background-image: url("../images/main/sc-review_popup-icon2.png");
}
.popup-view .popup-area .popup-content.type_review .review-list .text-area .content-inner .rating {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1rem;
}
.popup-view .popup-area .popup-content.type_review .review-list .text-area .content-inner .rating li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.popup-view .popup-area .popup-content.type_review .review-list .text-area .content-inner .rating li .rating-name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 2.5rem;
  font-size: 1.75rem;
  font-weight: 700;
}
.popup-view .popup-area .popup-content.type_review .review-list .text-area .content-inner .rating li .rating-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.popup-view .popup-area .popup-content.type_review .review-list .text-area .content-inner .rating li .rating-icon img {
  width: 1.875rem;
  height: 1.9375rem;
}
.popup-view .popup-area .popup-content.type_review .review-list .text-area .content-inner .desc {
  line-height: 2.25rem;
  font-size: 1.625rem;
  color: #58595b;
}
.popup-view .popup-area .popup-content.type_review .review-list .text-area .content-inner .desc .desc-opt {
  padding: 1.25rem 0 0.9375rem;
}

#header .top-nav {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #fff;
  width: 100%;
}
#header .top-nav.hidden {
  top: -82.11px;
}
.no-ad #header .top-nav.hidden {
  top: -45px;
}
#header .top-nav .ad-area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3.125rem 0 0.9375rem;
  height: 4.64rem;
  width: 100%;
  color: #fff;
  background-color: #000;
}
#header .top-nav .ad-area.hidden {
  display: none;
}
#header .top-nav .ad-area .text {
  font-size: 14px;
}
#header .top-nav .ad-area .text span {
  font-weight: 600;
}
#header .top-nav .ad-area .btn-close {
  position: absolute;
  right: 3rem;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}
#header .top-nav .ad-area .btn-close::after {
  content: "×";
  display: block;
  width: 10px;
  height: 10px;
  font-size: 13px;
}
#header .top-nav .top-area {
  margin: 0 2.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.625rem;
}
#header .top-nav .top-area .logo {
  position: absolute;
  left: -0.75rem;
  top: 1.5625rem;
  padding: 0.625rem;
}
#header .top-nav .top-area .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: -0.875rem;
  top: 1.3125rem;
}
@media (max-width: 340px) {
  #header .top-nav .top-area .inner .lang {
    display: none;
  }
}
#header .top-nav .top-area .inner .lang button {
  font-size: 12px;
  color: rgb(188, 189, 193);
  margin: 0 5px;
}
#header .top-nav .top-area .inner .lang button.active {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  text-underline-position: under;
}
#header .top-nav .top-area .inner .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#header .top-nav .top-area .inner .icon > * {
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 3.75rem;
  height: 3.75rem;
  margin-left: 1.4375rem;
}
#header .top-nav .top-area .inner .icon .search {
  background-image: url("../images/layout/search.png");
}
#header .top-nav .top-area .inner .icon .cart {
  background-image: url("../images/layout/cart.png");
}
#header .top-nav .bottom-area {
  margin-left: 1.2rem;
}
#header .top-nav .bottom-area .swiper {
  padding-left: 5px;
}
#header .top-nav .bottom-area .swiper .swiper-slide {
  width: auto;
}
#header .top-nav .bottom-area .swiper .swiper-slide a {
  padding: 0 0.625rem;
  line-height: 5.625rem;
  font-size: 2.125rem;
  font-weight: 500;
  color: #333;
}
#header .top-nav .bottom-area .swiper .swiper-slide a #lang-en {
  display: none;
}
#header .bottom-nav {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 1.875rem;
  width: 100%;
  height: 8.625rem;
  background: #f7f7f7;
  z-index: 1000;
}
#header .bottom-nav.hidden {
  bottom: -100px;
}
#header .bottom-nav.hidden .btn-top {
  bottom: 14rem;
}
#header .bottom-nav .bottom-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -1rem;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
#header .bottom-nav .bottom-menu li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#header .bottom-nav .bottom-menu li a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 6.25rem;
  height: 6.25rem;
  text-align: center;
  font-family: "Manrope";
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.875rem;
  white-space: nowrap;
}
#header .bottom-nav .bottom-menu li a::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 3.75rem;
  height: 3.75rem;
  margin-bottom: 0.25rem;
}
#header .bottom-nav .bottom-menu li a.menu::before {
  background-image: url("../images/layout/menu.png");
}
#header .bottom-nav .bottom-menu li a.interest::before {
  background-image: url("../images/layout/interest.png");
}
#header .bottom-nav .bottom-menu li a.mypage::before {
  background-image: url("../images/layout/mypage.png");
}
#header .bottom-nav .bottom-menu li a.history::before {
  background-image: url("../images/layout/history.png");
}
#header .bottom-nav .bottom-menu li a img {
  max-width: none;
  position: absolute;
  left: 50%;
  top: -4.25rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#header .bottom-nav .btn-top {
  position: absolute;
  right: 1.875rem;
  bottom: 11.25rem;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  background: #bcbdc1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#header .bottom-nav .btn-top::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1.5rem;
  height: 0.9375rem;
  background: url("../images/layout/arrow-top.png") no-repeat center center;
  background-size: contain;
}
#header .popup-view-search {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #fff;
  z-index: 1002;
  overflow: hidden;
}
#header .popup-view-search.on {
  display: block;
}
#header .popup-view-search .popup-header {
  position: relative;
  width: 100%;
  height: 10.875rem;
}
#header .popup-view-search .popup-header .btn-back {
  position: absolute;
  left: 1rem;
  top: 3.5rem;
  width: 3.75rem;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .popup-view-search .popup-header .btn-back img {
  width: 1.25rem;
  height: 1.9375rem;
}
#header .popup-view-search .popup-content {
  padding: 1.7rem 2.5rem 0;
}
#header .popup-view-search .popup-content .search-box {
  position: relative;
  border-bottom: 0.1875rem solid #333333;
}
#header .popup-view-search .popup-content .search-box .input-text {
  font-family: "Manrope";
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: -1.8;
  width: calc(100% - 3.75rem);
  height: 5rem;
  border: 0;
  padding-right: 1.25rem;
  margin-bottom: 1rem;
  color: #58595b;
  background: #fff;
  outline: none;
}
#header .popup-view-search .popup-content .search-box .btn-search {
  display: inline-block;
  position: absolute;
  width: 2.625rem;
  height: 2.75rem;
  right: 1.25rem;
  top: 1.3125rem;
}
#header .popup-view-search .popup-content .search-box .btn-search img {
  width: 3.75rem;
  height: 3.75rem;
  max-width: none;
}
#header .popup-view-search .popup-content .ranking {
  counter-reset: rank;
  margin-top: 5rem;
}
#header .popup-view-search .popup-content .ranking ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  line-height: 1;
  margin-bottom: 1.5625rem;
  font-size: 1.5rem;
}
#header .popup-view-search .popup-content .ranking ul li::before {
  counter-increment: rank;
  content: "0" counter(rank);
  display: inline-block;
  width: 1.875rem;
  margin-right: 1.25rem;
  font-size: 1.625rem;
  font-family: "Manrope";
  font-weight: 600;
  white-space: nowrap;
}
#header .popup-view-search .popup-content .ranking ul li:nth-child(10)::before {
  content: counter(rank);
}
#header .popup-view-search .popup-content .ranking ul li .name {
  display: inline-block;
  width: calc(100% - 8.125rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
}
#header .popup-view-search .popup-content .ranking ul li .icon {
  display: inline-block;
  position: absolute;
  width: 3.125rem;
  right: 0.9375rem;
}
#header .popup-view-search .popup-content .ranking ul li .icon img {
  width: 0.8125rem;
  height: 0.5rem;
}
#header .popup-view-search .popup-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
#header .popup-view-search .popup-footer .btn-close {
  width: 100%;
  height: 8.125rem;
  background: #000000;
  color: #ffffff;
  font-size: 2.25rem;
  font-weight: 700;
}

#footer {
  background: #f9f9f9;
  padding-bottom: 11.25rem;
}
#footer .footer-notice {
  padding: 2.5rem;
  background: #3c3e26;
}
#footer .footer-notice .content + .content {
  margin-top: 0.625rem;
}
#footer .footer-notice .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#footer .footer-notice .content .title {
  line-height: 2.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
  width: 8.75rem;
}
#footer .footer-notice .content a {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: block;
  line-height: 2.5rem;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.5);
}
#footer .footer-notice .content a::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.5625rem;
  width: 0.75rem;
  height: 1.125rem;
  background: url("../images/layout/arrow-right.png") no-repeat center center;
  background-size: contain;
}
#footer .footer-bottom {
  padding: 3.125rem 2.5rem;
}
#footer .footer-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e7e7e7;
}
#footer .footer-bottom ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.9375rem 0;
  text-align: center;
}
#footer .footer-bottom ul li a {
  line-height: 3.125rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}
#footer .footer-bottom .addr-area {
  margin: 2.1875rem 0;
}
#footer .footer-bottom .addr-area p {
  line-height: 2.25rem;
  font-size: 1.25rem;
  color: #58595b;
}
#footer .footer-bottom .addr-area p .link {
  margin-left: 0.9375rem;
  font-weight: 600;
  color: #000000;
  text-decoration: underline;
}
#footer .footer-bottom .terms-area {
  border-top: 1px solid #e7e7e7;
}
#footer .footer-bottom .terms-area a {
  font-size: 1.25rem;
  font-weight: 500;
}
#footer .footer-bottom .copy {
  display: block;
  padding-right: 4.375rem;
  margin-top: 1.875rem;
  font-family: "Manrope";
  font-weight: 400;
  line-height: 1.875rem;
  font-size: 1.25rem;
  color: #58595b;
  word-break: keep-all;
  letter-spacing: 0;
}
#footer .ad-area {
  position: fixed;
  left: 1.875rem;
  bottom: 11rem;
  z-index: 10;
}
#footer .ad-area .btn-close {
  float: right;
  margin-bottom: 0.5rem;
}
#footer .ad-area .btn-close::after {
  content: "×";
  font-size: 13.75pt;
  color: #aaaaaa;
  display: inline;
}

.headline {
  font-size: 2.7rem;
  font-weight: 700;
}

.headline_bg {
  font-weight: 900;
  font-size: 4.2rem;
}

.prd-list .prd-item .thumb-area {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.prd-list .prd-item .thumb-area img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.prd-list .prd-item .thumb-area .badge-list {
  position: absolute;
  right: 0.625rem;
  top: 0.625rem;
  width: 3rem;
  z-index: 3;
}
.prd-list .prd-item .thumb-area .badge-list.type_bg {
  width: 3.75rem;
}
.prd-list .prd-item .thumb-area .badge-list li + li {
  margin-top: 0.375rem;
}
.prd-list .prd-item .thumb-area .badge-list img {
  width: auto;
}
.prd-list .prd-item .thumb-area .rank {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Manrope";
  font-weight: 700;
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  line-height: 2.75rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: #000000;
  border-radius: 0.75rem 0 0.75rem 0;
}
.prd-list .prd-item .text-area {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1.25rem;
}
.prd-list .prd-item .text-area .prd-name {
  font-size: 1.75rem;
  font-weight: 500;
  color: #333333;
  word-break: keep-all;
  line-height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 0.625rem;
}
.prd-list .prd-item .text-area .prd-price {
  font-family: "Manrope";
  font-weight: 700;
  line-height: 1;
}
.prd-list .prd-item .text-area .prd-price .sale {
  font-size: 1.375rem;
  color: #ed1c24;
  margin-right: 0.3125rem;
}
.prd-list .prd-item .text-area .prd-price .sale b {
  font-size: 1.75rem;
}
.prd-list .prd-item .text-area .prd-price .curr {
  font-size: 1.5rem;
  color: #333333;
}
.prd-list .prd-item .text-area .prd-price .curr b {
  font-size: 1.875rem;
}
.prd-list .prd-item .text-area .prd-price .ori {
  margin-left: 1rem;
  padding-top: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: #bcbdc1;
  text-decoration: line-through;
}
.prd-list .prd-item .text-area .prd-price .ori b {
  font-size: 1.625rem;
}
.prd-list .prd-item .text-area .prd-mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 2.625rem;
  margin-top: 1.25rem;
}
.prd-list .prd-item .text-area .prd-mark span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0.25rem;
  min-width: 5rem;
  height: 2.375rem;
  border-radius: 2rem;
  font-family: "Manrope";
  font-size: 1.375rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  color: #ffffff;
}
.prd-list .prd-item .text-area .prd-mark .sale_m {
  background: #CCED00;
  color: #000;
}
.prd-list .prd-item .text-area .prd-mark .new_m {
  background-color: #000;
}
.prd-list .prd-item .icon-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.5625rem;
}
.prd-list .prd-item .icon-area a {
  position: relative;
  display: block;
  margin-right: 0.9375rem;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  background: #f5f5f5;
  border: 0.125rem solid #f5f5f5;
}
.prd-list .prd-item .icon-area a span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: 100%;
}
.prd-list .prd-item .icon-area a .icon-heart {
  width: 1.6875rem;
  height: 1.4375rem;
  background-image: url("../images/main/sc-keyword_icon-heart.png");
}
.prd-list .prd-item .icon-area a .icon-basket {
  width: 1.75rem;
  height: 2rem;
  background-image: url("../images/main/sc-keyword_icon-basket.png");
}
.prd-list.type-1 .prd-item {
  width: 17.5rem;
}
.prd-list.type-1 .prd-item .thumb-area {
  height: 17.5rem;
  border: 0.125rem solid #f5f5f5;
  border-radius: 0.625rem;
}
.prd-list.type-1 .prd-item .text-area {
  margin-left: 0;
}
.prd-list.type-1 .prd-item .text-area .prd-name {
  min-height: 32px;
}
.prd-list.type-1 .prd-item .text-area .prd-name {
  margin: 1.25rem 0;
  -webkit-line-clamp: 2;
}
.prd-list.type-2 .prd-item .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.prd-list.type-2 .prd-item .inner .thumb-area {
  width: 6.875rem;
  height: 6.875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.875rem;
          flex: 0 0 6.875rem;
  border: 0.125rem solid #e7e7e7;
  border-radius: 0.75rem;
}
.prd-list.type-3 .prd-item .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.prd-list.type-3 .prd-item .inner .thumb-area {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9.375rem;
          flex: 0 0 9.375rem;
  width: 9.375rem;
  height: 9.375rem;
  border: 0.125rem solid #e7e7e7;
  border-radius: 0.75rem;
}

.prd-banner {
  height: auto;
  overflow: hidden;
  border-radius: 1.25rem;
  margin-bottom: 3.125rem;
}
.prd-banner img {
  width: 100%;
  min-height: 23.125rem;
  -o-object-fit: cover;
     object-fit: cover;
}

body.hidden {
  overflow: hidden;
}

#container {
  padding-top: 16.015rem;
}
.no-ad #container {
  padding-top: 11.375rem;
}

.sc-visual .swiper {
  position: relative;
}
.sc-visual .swiper .swiper-slide .thumb-area img {
  width: 100%;
}
.sc-visual .swiper .swiper-slide .text-area {
  position: absolute;
  left: 2.5rem;
  top: 6.25rem;
  color: #333;
}
.sc-visual .swiper .swiper-slide .text-area .info {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0.625rem;
  opacity: 0;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}
.sc-visual .swiper .swiper-slide .text-area .name {
  font-size: 3.5rem;
  line-height: 1;
  font-weight: 700;
  padding-top: 0.375rem;
  opacity: 0;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}
.sc-visual .swiper .swiper-slide .text-area .desc {
  margin-top: 1.875rem;
  line-height: 2rem;
  font-size: 1.75rem;
  color: #58595b;
  opacity: 0;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}
.sc-visual .swiper .swiper-slide .text-area .desc span {
  color: #FFFFFF;
  background-color: #B2030C;
  padding: 0 0.5rem 0 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.sc-visual .swiper .swiper-slide-active .text-area .info {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.4s 0.2s;
  transition: 0.4s 0.2s;
}
.sc-visual .swiper .swiper-slide-active .text-area .name {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.4s 0.3s;
  transition: 0.4s 0.3s;
}
.sc-visual .swiper .swiper-slide-active .text-area .desc {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.4s 0.4s;
  transition: 0.4s 0.4s;
}
.sc-visual .swiper .pagination {
  width: auto;
  position: absolute;
  left: auto;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sc-visual .swiper .pagination span:first-child {
  border-right: 1px solid #FFF;
  font-weight: 700;
}
.sc-visual .swiper .pagination span {
  display: block;
  width: 4rem;
  height: 3rem;
  font-size: 1.5rem;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.3137254902);
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.sc-keyword {
  margin-top: 5rem;
}
.sc-keyword .headline {
  padding-left: 2.5rem;
}
.sc-keyword .swiper {
  padding: 0 2.5rem;
}
.sc-keyword .tablist {
  margin: 2.5rem 0;
}
.sc-keyword .tablist .swiper-slide {
  width: auto;
}
.sc-keyword .tablist .swiper-slide.active a {
  font-family: "Manrope";
  font-weight: 800;
  padding: 0.625rem;
}
.sc-keyword .tablist .swiper-slide.active a::after {
  display: block;
  content: "";
  position: absolute;
  left: 0.625rem;
  right: 0.625rem;
  bottom: 0;
  height: 0.375rem;
  border-radius: 0.375rem;
  background: #333;
}
.sc-keyword .tablist .swiper-slide a {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0;
  padding: 0 1.25rem;
  line-height: 3.5rem;
  color: #333333;
}

.sc-new_item .headline {
  padding-left: 2.5rem;
}
.sc-new_item .swiper {
  padding: 0 2.5rem;
  margin-top: 2.5rem;
}

.sc-membership {
  padding: 0 2.5rem;
  margin: 5rem 0 7.5rem;
}
.sc-membership .headline {
  font-size: 3.125rem;
  color: #333333;
  text-align: center;
}
.sc-membership .time-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3.125rem;
  font-weight: 700;
  margin: 1.5rem 0 3rem;
}
.sc-membership .time-wrap span:not(:last-child) {
  margin-right: 0.5rem;
}
.sc-membership .time-wrap .time-box {
  width: 4rem;
  height: 5rem;
  background-color: #CCED00;
  border-radius: 0.125rem;
  text-align: center;
}
.sc-membership .membership-slide .swiper-slide {
  position: relative;
  width: 140px;
  aspect-ratio: 1/1;
}
.sc-membership .membership-slide .swiper-slide-active .img-dim {
  opacity: 0;
}
.sc-membership .membership-slide .swiper-slide .img-dim {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.sc-membership .membership-slide .navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 60px;
  z-index: 10;
}
.sc-membership .membership-slide .navigation .btn-next {
  width: 2.5rem;
  height: 2.5rem;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  border-radius: 50%;
  background-color: #000;
}
.sc-membership .membership-slide .navigation .btn-next img {
  width: 1.8rem;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.sc-membership .membership-slide .pagination {
  width: auto;
  position: absolute;
  left: 50%;
  right: auto;
  bottom: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1px;
  margin-left: 20px;
}
.sc-membership .membership-slide .pagination span {
  width: 3rem;
  height: 2.5rem;
  font-size: 1.2rem;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.3137254902);
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}
.sc-membership .text-slide {
  text-align: center;
}
.sc-membership .text-slide .swiper-slide {
  background: #fff;
  padding-top: 20px;
}
.sc-membership .text-slide .swiper-slide .text-area {
  margin-left: 0;
}
.sc-membership .text-slide .swiper-slide .text-area .prd-name {
  font-size: 2rem;
  font-weight: 600;
}
.sc-membership .text-slide .swiper-slide .text-area .prd-price {
  margin: 2rem 0 2.5rem;
}
.sc-membership .text-slide .swiper-slide .text-area .prd-price .sale {
  font-size: 1.375rem;
}
.sc-membership .text-slide .swiper-slide .text-area .prd-price .sale b {
  font-size: 2rem;
}
.sc-membership .text-slide .swiper-slide .text-area .prd-price .curr b {
  font-size: 2.375rem;
}
.sc-membership .text-slide .swiper-slide .text-area .link-wrap .link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10rem;
  height: 3.75rem;
  font-size: 1.625rem;
  font-weight: 500;
  color: #fff;
  border: 1px solid #333;
  background: #000;
}
.sc-membership .text-slide .swiper-slide .text-area .link-wrap .link:first-child {
  margin-right: 0.375rem;
  color: #333;
  background: transparent;
}

.sc-pick_item {
  margin-top: 7.5rem;
  padding: 0 2.5rem 3.75rem;
}
.sc-pick_item .headline_bg {
  font-family: "Manrope";
  letter-spacing: 0;
}
.sc-pick_item .desc {
  font-family: "Manrope";
  margin: 1rem 0 2.5rem;
  font-size: 2.125rem;
  color: #3a5542;
  letter-spacing: 0;
}
.sc-pick_item .prd-item + .prd-item {
  margin-top: 1.25rem;
}

.sc-best_item {
  margin-top: 5rem;
  padding: 0 2.5rem;
}
.sc-best_item .tablist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 5.875rem;
  border-bottom: 0.125rem solid #e7e7e7;
  margin-top: 2.5rem;
}
.sc-best_item .tablist a {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 5.75rem;
  font-size: 1.875rem;
  font-weight: 600;
  text-align: center;
  line-height: 5.75rem;
  color: #bcbdc1;
}
.sc-best_item .tablist a.active {
  position: relative;
  color: #333;
  font-weight: 700;
}
.sc-best_item .tablist a.active::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.125rem;
  height: 0.35rem;
  border-radius: 0.3125rem;
  background: #333;
}
.sc-best_item .tabcont {
  margin-top: 1.875rem;
}
.sc-best_item .tabcont .prd-item:nth-child(n+6) {
  display: none;
}
.sc-best_item .tabcont .prd-item + .prd-item {
  margin-top: 1.25rem;
}
.sc-best_item .tabcont .btn-more {
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
  padding-left: 1.25rem;
  width: 8.75rem;
  line-height: 3.125rem;
  font-size: 1.625rem;
  font-weight: 700;
  color: #333333;
}
.sc-best_item .tabcont .btn-more span {
  display: none;
}
.sc-best_item .tabcont .btn-more span.active {
  display: inline-block;
}
.sc-best_item .tabcont .btn-more.active::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sc-best_item .tabcont .btn-more::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1.75rem;
  height: 1.0625rem;
  background-image: url("../images/main/sc-best_btn-more.png");
  margin: -0.25rem 0 0 0.875rem;
}

.sc-vegan {
  margin-top: 7.5rem;
  padding: 0 2.5rem;
}
.sc-vegan .headline_bg {
  direction: rtl;
  margin-bottom: 2.5rem;
}
.sc-vegan .headline_bg span {
  color: #00bf45;
}
.sc-vegan .prd-item + .prd-item {
  margin-top: 1.25rem;
}

.sc-review {
  position: relative;
  margin: 10rem 0 7.5rem;
  padding: 6.25rem 0 6.25rem 2.5rem;
  background: #f7fafc;
}
.sc-review .headline {
  font-size: 3.125rem;
  letter-spacing: 0;
  color: #333;
  margin-bottom: 2.5rem;
  line-height: 1;
}
.sc-review .swiper .swiper-slide {
  width: 26.25rem;
  margin-right: 2.5rem;
}
.sc-review .swiper .swiper-slide .content {
  position: relative;
  display: block;
  width: 26.25rem;
  height: 26.25rem;
  border-radius: 1.5625rem;
  background-size: cover;
  background-position: center center;
  padding: 3.125rem 2.5rem 0 2.5rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
}
.sc-review .swiper .swiper-slide .content .dark-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1.875rem;
  z-index: 1;
}
.sc-review .swiper .swiper-slide .content.c1 {
  background-image: url(../images/main/sc-review1.png);
}
.sc-review .swiper .swiper-slide .content.c2 {
  background-image: url(../images/main/sc-review2.jpg);
}
.sc-review .swiper .swiper-slide .content.c3 {
  background-image: url(../images/main/sc-review3.jpg);
}
.sc-review .swiper .swiper-slide .content.c4 {
  background-image: url(../images/main/sc-review4.jpg);
}
.sc-review .swiper .swiper-slide .content .ct-title {
  position: relative;
  z-index: 10;
  display: block;
  margin-bottom: 1.5625rem;
  line-height: 1.875rem;
  font-size: 1.625rem;
  font-weight: 700;
  color: #ffffff;
}
.sc-review .swiper .swiper-slide .content .ct-desc {
  position: relative;
  z-index: 10;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-height: 2.25rem;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
}
.sc-review .swiper .swiper-slide .content .ct-writer .name {
  z-index: 10;
  position: absolute;
  left: 2.5rem;
  bottom: 3.125rem;
  line-height: 1.875rem;
  font-size: 1.375rem;
  color: rgba(255, 255, 255, 0.8);
}
.sc-review .swiper .swiper-slide .content .ct-writer .score {
  z-index: 10;
  position: absolute;
  right: 2.5rem;
  bottom: 3.125rem;
  line-height: 1.875rem;
  font-size: 1.375rem;
  font-weight: 700;
  color: #ffffff;
}
.sc-review .swiper .swiper-slide .content .ct-writer .score::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1.6875rem;
  height: 1.5625rem;
  background-image: url("../images/main/sc-review_score.png");
  margin: -0.4375rem 0.375rem 0 0;
}
.sc-review .btn-more {
  position: absolute;
  right: 1.875rem;
  top: 6.25rem;
  font-size: 1.625rem;
  font-weight: 500;
  color: #58595b;
}
.sc-review .btn-more::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 0.5rem;
  height: 0.875rem;
  background-image: url("../images/main/sc-review_btn-more.png");
  margin-left: 0.8125rem;
}

.sc-tag {
  margin-bottom: 11rem;
  padding: 0 2.5rem;
  text-align: center;
}
.sc-tag .headline {
  font-size: 3.125rem;
  line-height: 1;
}
.sc-tag .text {
  font-size: 1.5rem;
  font-family: "Manrope";
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0;
  color: #58595b;
  margin: 0.625rem 0 2.5rem;
}
.sc-tag .img-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.625rem;
}
.sc-tag .img-area a {
  display: block;
  border-radius: 1.5625rem;
  overflow: hidden;
}
.sc-tag .img-area .img-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.625rem;
}/*# sourceMappingURL=style.css.map */